@model WebApplication1.Models.Student

@{
    ViewData["Title"] = "Create Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>

<h4>Student</h4>
<hr />
<div class="row">
   
</div>

